default_language_version:
  node: system
  python: python3.13

exclude: 'docs|node_modules|migrations|.git|.tox'
default_stages: [commit, push]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: check-byte-order-marker
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: debug-statements
        language_version: python3
      - id: detect-private-key
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.11.6
    hooks:
      - id: ruff
        args: [--output-file, .ruff-report.txt, --output-format, concise]
      - id: ruff-format

  - repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: 3.0.0
    hooks:
      - id: shellcheck

  - repo: https://github.com/adamchainz/django-upgrade
    rev: '1.24.0'
    hooks:
      - id: django-upgrade
        args: [--target-version, '4.2']

  - repo: https://github.com/zricethezav/gitleaks
    rev: v8.24.3
    hooks:
      - id: gitleaks
        entry: bash -c 'for file in "$@"; do gitleaks detect --no-git --verbose --redact --source $file --config .gitleaks.toml; done'
        pass_filenames: true
